venv/
.env
token.json
client_secret.json
sender_token.json
user_token.json
hardcode_main.py
zoho_setup.py
main_app.py
__pycache__/
*.pyc
*.log
.vscode/
.idea/
*.DS_Store
.streamlit/
.pytest_cache/
build/
dist/
*.egg-info/
service-account.json